/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2016, 1:33:13 AM
    Author     : Monroe
*/

.root{
    -fx-background-color: #0b0b0b;
    -fx-background-radius: 10px;
}

.vp{
    -fx-background-color: #0b0b0b;
}

.bp{
    -fx-background-radius: 10px
}

.bns{
    -fx-background-radius: 30px;
    -fx-background-color: null;
}

.close{
    -fx-background-radius: 50px;
    -fx-base: red;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}

.mini{
    -fx-background-radius: 50px;
    -fx-base: #101010;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}

.menu-bar{
    -fx-background-color: black;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: linear-gradient(to left, black, red,black);
}

.menu .label{
    -fx-text-fill: #4f4f4f;
}
.menu {
    -fx-background-color: black;
}

.list-view{
    -fx-background-color: #0b0b0b;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: linear-gradient(to bottom, black, red,black);
}

.list-view .scroll-bar:vertical{
    -fx-background-color: #000000;
}

.list-view .scroll-bar:horizontal{
    -fx-background-color: #000000;
}

.list-cell{
    -fx-background-color: #0b0b0b;
    -fx-text-fill: #cecece;
}
.list-cell:even{
    -fx-background-color: #101010;
}

.list-cell:selected{
    -fx-background-color: black;
}

.list-view .scroll-bar:vertical .track{
    -fx-background-color: #0b0b0b;
}

.list-view .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom, black, red,black);
    -fx-border-width: 0 1 0 1;
    -fx-border-color: linear-gradient(to bottom, black, red,black);
}
.list-view .scroll-bar:vertical .decrement-button, increment-button{
    -fx-background-color: null;
}

.list-view .scroll-bar:horizontal .track{
    -fx-background-color: #0b0b0b;
}

.list-view .scroll-bar:horizontal .thumb{
    -fx-background-color: linear-gradient(to bottom, black, red,black);
    -fx-border-width: 0 1 0 1;
    -fx-border-color: linear-gradient(to bottom, black, red,black);
}
.list-view .scroll-bar:horizontal .decrement-button, increment-button{
    -fx-background-color: null;
}

.controls{
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
}

.seeker .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.seeker .thumb{
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, #0b0b0b,
        lime);
}

.seeker2 .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.seeker2 .thumb{
    -fx-background-color: null;
}



.seeker3 .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 800; /* 2.5 */
}

.seeker3 .thumb{
    -fx-background-color: null;
}

.progress-bar > .bar {
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: #ffcc33;
    -fx-padding: 0.05em;
}
.progress-bar > .track {
    -fx-background-color: #4f4f4f;
}


.volumebar > .bar{
    -fx-background-color: lime;
}
.volumebar > .track{
    -fx-background-color: null;
}

.volume .track{
    -fx-padding: 0 200 0 200;
    -fx-background-color: null;
}

.volume .thumb{
    -fx-background-color: null;;
}

.indi:determinate{
    -fx-progress-color:red;
}
.indi:indeterminate{
    -fx-progress-color:red;
}


.text-field, .text-area {
    -fx-font-size: 15;
    -fx-background-color:
        #101010,
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 50%),
        #4f4f4f;
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 3 5 2 5;
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 2 );
    -fx-font-family: "Arial";
}
 
.text-area {
    -fx-padding: 6 5 6 5;
}
 
.text-field:focused, .text-area:focused {
    -fx-prompt-text-fill:
        rgb(128,128,128);
    -fx-prompt-text-size: 12px;
    -fx-background-color:
        #808080,
        rgba(0, 0, 0, 0.4),
        #cecece;
}

.tab-pane, .list-view{
    -fx-background-color: #0b0b0b;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-border-color: transparent;
    /*-fx-border-radius: 5 5 0 0;*/
    -fx-background-color: transparent;
    -fx-pref-height: 30px;  
    -fx-background-insets: -2;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: red;
    -fx-border-width: 0 0 3 0;   
    -fx-border-radius: 0 0 0 0;
    -fx-pref-height: 30px;  
    -fx-background-color: transparent;
    -fx-background-insets: -2;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #808080;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:#0b0b0b;
    -fx-border-color: linear-gradient(to right, #0b0b0b,red,#0b0b0b);
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;  
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-style: segments(0.166667em, 0.166667em);
     -fx-border-width: 1;
     -fx-border-color: transparent;
}






.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: #101010;
}

.menu-item:focused .label {
    -fx-text-fill: red;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}


.window{
    
}