/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2016, 11:58:23 PM
    Author     : Monroe
*/

.root{
    -fx-background-radius: 5px;
    -fx-background-color: #0b0b0b;
}


.controls{
    -fx-background-color: transparent;
}

.controls:hover{
    -fx-background-color: rgba(255,0,0,0.3);
}
.controls:pressed{
    -fx-background-color: rgba(255,0,0,0.5);
}


.progress-bar > .bar {
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: orangered;
    -fx-padding: 0.05em;
}
.progress-bar > .track {
    -fx-background-color: #4f4f4f;
}

.seeker .track {
    -fx-background-color:#414141;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.seeker .thumb{
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, #0b0b0b,
        lime);
}


.popover{
    -fx-fill:#414141;
}




.progress-indi .percentage{
    -fx-fill: null;
}

.progress-indi > .track {
    -fx-background-color: #4f4f4f;
}